#filtersetslistbox
{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 150px;
}

#filtersscreen
{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 162px;
}

#filterslistbox
{
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 180px;
}

#password-box
{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 192px;
}

#filter-frame
{
  border-radius: 4px;
}

#filterslist,
#filtersetslist
{
  width: 100%;
  table-layout: fixed;
}

#filterslist tbody td,
#filtersetslist tbody td
{
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

#filterslist tbody tr.disabled td,
#filtersetslist tbody tr.disabled td
{
  color: #87A3AA;
	text-decoration: line-through;
}

#filtersetslist tbody td
{
  font-weight: bold;
}

#filterslist tbody tr.filtermoveup td
{
  border-top: 2px dotted #555 !important;
  padding-top: 5px;
}

#filterslist tbody tr.filtermovedown td
{
  border-bottom: 2px dotted #555 !important;
  padding-bottom: 4px;
}

body.iframe
{
  min-width: 620px;
}

#filter-form
{
  min-width: 550px;
  white-space: nowrap;
  padding: 20px 10px 10px 10px;
}

#filter-form legend, #filter-form label
{
  color: #666666;
}

#rules, #actions
{
  margin-top: 5px;
  padding: 0;
  border-collapse: collapse;
}

div.rulerow, div.actionrow
{
  width: auto;
  padding: 2px;
  white-space: nowrap;
  border: 1px solid white;
}

div.rulerow:hover, div.actionrow:hover
{
  padding: 2px;
  white-space: nowrap;
  background-color: #D9ECF4;
  border: 1px solid #BBD3DA;
  border-radius: 4px;
}

div.rulerow table, div.actionrow table
{
  padding: 0px;
  min-width: 600px;
}

#filter-form td
{
  vertical-align: middle;
}

td.advbutton
{
  width: 1%;
}

td.advbutton a
{
  display: block;
  padding-top: 14px;
  height: 6px;
  width: 12px;
  text-decoration: none;
}

td.advbutton a.show
{
  background: url(images/down_small.gif) center no-repeat;
}

td.advbutton a.hide
{
  background: url(images/up_small.gif) center no-repeat;
}

td.rowbuttons
{
  text-align: right;
  white-space: nowrap;
  width: 1%;
}

td.rowactions
{
  white-space: nowrap;
  width: 1%;
  padding-top: 2px;
}

td.rowtargets
{
  white-space: nowrap;
  width: 98%;
  padding-left: 3px;
  padding-top: 2px;
}

td.rowtargets > div
{
  vertical-align: top;
  margin-top: 2px;
}

td.rowtargets div.adv
{
  padding-top: 3px;
  font-size: 10px;
}

td.rowtargets div.adv span.label
{
  display: inline-block;
  padding-right: 5px;
  min-width: 70px;
}

td.rowtargets div a {
  margin-left: 10px;
}

input.disabled, input.disabled:hover
{
  color: #999999;
}

input.error, textarea.error
{
  background-color: #FFFFC4;
}

input.box,
input.radio
{
  border: 0;
  margin-top: 0;
}

input.radio
{
  vertical-align: middle;
}

select.operator_selector
{
  width: 200px;
  vertical-align: top;
}

td.rowtargets span,
span.label
{
  color: #666666;
  font-size: 10px;
  white-space: nowrap;
}

td.rowtargets label
{
  color: black;
}

#footer
{
  padding-top: 5px;
  width: 100%;
}

#footer .footerleft label
{
  margin-left: 40px;
  white-space: nowrap;
}

.itemlist
{
  line-height: 25px;
}

.itemlist input
{
  vertical-align: middle;
}

span.sieve.error
{
  color: red;
  white-space: nowrap;
}

#managesieve-tip
{
  padding: 3px;
  background-color: #eee;
}

a.button
{
  margin: 0;
  padding: 0;
}

a.button.add
{
  background: url(images/add.png) no-repeat;
  width: 30px;
  height: 20px;
  margin-right: 4px;
  display: inline-block;
}

a.button.del
{
  background: url(images/del.png) no-repeat;
  width: 30px;
  height: 20px;
  display: inline-block;
}

a.button.disabled
{
  opacity: 0.35;
  filter: alpha(opacity=35);
  cursor: default;
}

#filter-form select,
#filter-form input,
#filter-form textarea
{
  font-size: 11px;
  padding: 1px;
  vertical-align: middle;
  max-width: 280px;
}

/* revert larry style button */
#filter-form input.button
{
  padding: 4px 12px;
}

fieldset
{
  border-radius: 4px;
}

/* smart multi-row input field */
.listarea
{
  border: 1px solid #B2B2B2;
  border-radius: 4px;
  box-shadow: inset 0 0 2px 1px rgba(0,0,0, 0.1);
  -webkit-box-shadow: inset 0 0 2px 1px rgba(0,0,0, 0.1);
  margin: 0;
  padding: 2px;
  display: inline-block;
  max-height: 59px;
  overflow-y: auto;
  vertical-align: middle;
}

td.rowtargets > span.listarea
{
  vertical-align: top;
  margin-top: 2px;
}

.listelement
{
  display: block;
  white-space: nowrap;
  background-color: #fff;
  border-top: 1px solid #e2e2e2;
  height: 14px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  line-height: 14px;
}

.listarea.error .listelement
{
  background-color: #FFFFC4;
}

.listelement:first-child
{
  border-top: none;
}

#filter-form .listelement input
{
  border: none;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  vertical-align: top;
  height: 14px;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 14px;
  background-color: transparent;
}

.listelement input:focus
{
  box-shadow: none;
}

.listelement .reset
{
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(images/erase.png) -1px -1px no-repeat #eee;
  cursor: pointer;
}


/* fixes for popup window */

body.iframe.mail
{
  margin: 0;
  padding: 0;
}

body.iframe.mail #filter-form
{
  padding: 10px 5px 5px 5px;
}

.filter-table {
  margin-top: 10px;
  border-collapse: collapse;
}

.filter-table thead tr th {
  padding-bottom: 5px;
}

.filter-table tr {
  padding: 2px;
  border: 1px solid transparent;
  border-bottom: 1px solid #A0A0A0;
  /*border-bottom: 1px solid #A0A0A0;*/
}

.filter-table tr td  {
  padding: 5px;
}

.filter-table tbody tr:hover {
  white-space: nowrap;
  background-color: #D9ECF4;
  border: 1px solid #BBD3DA;
  border-radius: 4px;
}

.filter-table td.operations {
  text-align: right;
}

.filter-table input.button.mainaction {
  margin-top: -15px;
  margin-right: 20px;
}

.filter-field label {
  display: inline-block;
  width: 150px;
}

.password-field {
  display: inline-block;
  margin-bottom: 10px;
}

.password-field label {
  display: inline-block;
  width: 150px;
}

#filter-box .inline-edit-form {
  border: 1px solid #BBD3DA;
  border-radius: 4px;
  padding: 10px;
  width: 400px;
}

#filter-box .inline-edit-form label {
  display: inline-block;
  width: 80px;
}

#filter-box .inline-edit-form .form-row {
  margin-bottom: 5px;
}


#filter-box .inline-edit-form .buttons {
  margin-top: 10px;
}


/* vacation form */
#settings-sections .vacation a {
  background-image: url(images/vacation_icons.png);
	background-repeat: no-repeat;
	background-position: 7px 1px;
}

#settings-sections .vacation.selected a {
  background-position: 7px -23px;
}

#managesieve-vacation {
  position: absolute;
  top: 0;
  left: 212px;
  right: 0;
  bottom: 0;
  overflow: auto;
}

#vacationform .listarea {
  max-height: 91px;
}

#vacationform .listelement,
#vacationform .listelement .reset {
  height: 22px;
}

#vacationform .listelement .reset {
  background-position: -1px 3px;
}

#vacationform .listelement input {
  vertical-align: top;
  border: 0;
  box-shadow: none;
}

#vacationform td.vacation {
  white-space: nowrap;
}

#vacationform input.button {
  margin-left: 10px;
}
